.navbar{
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding:0 20px ;
}
.navbarList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
.navbarItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbarLink{
   text-decoration: none;
   margin-left: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 17px;
   color: black;
   &:hover{
    color: orange;
   }
}

.navbarHr{
    margin-right: 5px;
    margin-left: 5px;
    width: 1px;
    background: black;
    border: 0.5px solid black;
    height: 18px;
    opacity: 0.4;
}
.navbarTitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 17px;
    &:hover{
        color: orange;
    }
}



// .dropbtn {
//     color:black;
//     padding: 16px;
//     font-size: 16px;
//     border: none;
//     cursor: pointer;
//   }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
 